<h2>All Tasks</h2>
<section id="all-tasks-list">
  <table>
    <tr id='table-header'>
      <td>ID</td>
      <td>NAME</td>
      <td>DESCRIPTION</td>
      <td>DATE OF COMPLETION</td>
    </tr>
    <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id%></td>
          <td><%= task.name%></td>
          <td><%= task.description%></td>
          <td><%= task.completed%></td>
        </tr>
    <% end %>
  </table>
</section>