<h1>Edit Task </h2>

<%= render partial: "form", locals: {form_class: "edit-task-form", submit_button_label: "Edit Task"} %>
<%= link_to "Delete", task_path(@task.id), method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %>
