<%= form_with model: @task, class: 'edit-task' do |f| %>

  <%= render :partial => "tasks/form", :locals => { :f => f } %>

  <%= f.submit 'Update Task', class: 'tasks-button' %>

<% end %>

<p> <%= link_to "Home", tasks_path %></p>