<h2>Edit Task</h2>

<section class="current">
  <h3>Current Task Information</h3>

  <ul>
    <li>
      Name: <%= @task.name %>
    </li>
    <li>
      Description: <%= @task.description %>
    </li>
  </ul>
</section>

<section class="form-container">
  <%= render partial: "form", locals: { action_name: "Update", message: "update this" } %>
</section>
