<link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">

<div class="head">
<h1>Edit Task</h1>
</div>

<%= render partial: "form", locals: { action_name: "Edit" } %>

<%= button_to "Return to Task List", root_path, method: :get, class: "task-button" %>