<h1 class="box header">Edit Task</h1>


<%= form_for @task do |f| %>
<ul class="box">
  <li>Name : <%= f.text_field :name %></li> 
  <li>Description : <%= f.text_area :description %></li>
  <li><%= f.submit %></li>
  </ul>
<% end %>





  
