<link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">

<h1 class="head">Edit Task</h1>

<%= render partial: "form", locals: { action_name: "Edit" } %>

<%= button_to "Return to Task List", root_path, method: :get, class: "task-button" %>