<section class="container">
  <section class="buttons">
    <p> <%= link_to "Edit Task", edit_task_path %></p>
    <p> <%= link_to "Back to Tasks", tasks_path %></p>
  </section>

  <%= render(partial: "form", locals: { action_name: "Edit", verb_name: "update" }) %>

</section>