<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      Name: <%= task.name %>
      Description: <%= task.description %>
      Completion Date: <%= task.completion_date %>
    </li>
  <% end %>
</ul>