<link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">

<p>
  Task List:
  <ul> <% @tasks.each do |task| %>
    <li> <%= task.name %> 
      <%= render partial: "list", locals: {task_variable: task} %>
    </li>
    <% end %>
  </ul>
</p>