<ul>
<% @tasks.each do |task|%>
    <li>
      <% link_to task.title, task_path(task.id)%> 
    <%# <a href="/tasks/<%= task[:id] %>
        <%= task.name %>
    </a>
    </li>
<% end %>
</ul>

<a href="/new_task">Add Task</a>