<h1>TaskList</h1>

<ol>
  <% @tasks.each do |task| %>
    <li>
      <%= task.name %> <br>
      <%= task.description %> <br>
      <%= link_to "Show Details", task_path(task) %>
    </li>
    <br>
  <% end %>  
</ol>