<!DOCTYPE html>
<html>
  <body>
  <section class="task-list">

  <section class="task">
    <h2>Your Tasks</h2>
    <ol>
      <% @tasks.each do |task| %>
        <li>
          <%= task.name %> <br>
          <%= task.description %> <br>
          <%= link_to "Show Details", task_path(task) %>
        </li>
        <br>
      <% end %>  
    </ol>
  </section>
  </section>
  </body>
</html>
