<h1 class="box header">Task List</h1>

  <% @tasks.each_with_index do |task, i|  %>
  <ul class="box">
      <li> <%=i+1%>. <%= link_to task.name, task_path(task) %> </li>
      <li> Description: <%= task.description %> </li>
      <%= link_to "Delete Task", task_path(task), method: :delete, data: {confirm: "Are you sure you want to delete the task: '#{task.name}' ? This cannot be undone!"} %>
  </ul>
  <% end %>
</ul>