<h1>Tasks#index</h1>

<table style = "width: 100%">
  <tr>
    <th></th>
    <th>NAME</th>
    <th>DESCRIPTION</th>
    <th>COMPLETION DATE</th>
  </tr>

  <% @tasks.each_with_index do |task, index| %>
  <tr>
  <td><%= index+1 %></td>
  <td><%= task.name %></td>
  <td><%= task.description %></td>
  <td>
    <% if task.completion_date %>
      <%= task.completion_date %>
    <% else %>
      CHECKBOX [ ]
    <% end%>
    </td>
  </tr>
   <% end %>
</table>

