<h1>Tasks</h1>
<%= link_to "new task", new_task_path %>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <p> <%= link_to task.name, task_path(task.id) %> <p>
      <p> <%= task.description %> <p>
    </li>
  <% end %>
</ul>
