<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      Name: <%= link_to "#{task.name}", task_path(task.id) %>
      Description: <%= task.description %>
      Completion Date: <%= task.completion_date %>
    </li>
  <% end %>
</ul>