
<h2>Welcome to Yasmin's Task List</h2>
<h3>Here is the tasks list</h3>
  <ul class="task-list">
  <% @tasks.each do |task| %>
    <li>
    <%= "#{task.name}: #{task.description}: #{task.date}" %> 
    </li>
  <% end %>
</ul>


