<h1>Hallie's Task List</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>Task: <%= link_to task.name, root_path(task) %> <br>
    Description: <%= task.description %></li><br>
  <% end%>
</ul>

<p><%= link_to "Add a New Task", new_task_path %></p>
