<h1>Total Tasks:</h1>
<%= link_to "Add Task", "tasks/new" %>

<ul>
  <% @tasks.each do |task|  %>
    <li>
      Name: <%= task.name %>, Description:<%= task.description %>, When: <%= task.completion_date %>, 
    </li>
  <% end %>
</ul>