<h1>Task List</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      Task: <%= task[:name] %>
      Details: <%= task[:description] %>
      Due by: <%= task[:completion_date] %>
    </li>
  <% end %>
</ul>