<h2>Clara's To Do List</h2>

<section class="task list">
 <ol>
  <% @tasks.each do |task| %>
   <li>
    <%= task.name %>
   </li>
  <% end %>
 </ol>
</section>

<section class="Add a task">
 <%= link_to "Add a new task!", "/tasks/new"%>
</section>