<h1>Task List</h1>

<ol>
  <% @tasks.each do |task|  %>
    <li> <%= link_to "Task: #{task.name}", task_path(task.id) %> </li>
      <ul>
        <li> Details: <%= task.description %> </li>
        <li> Due by: <%= task.completion_date %> </li>
      </ul>
  <% end %>
</ol>

