<h1>Tasks List</h1>

<section>
  <ol>
    <% @tasks.each do |task| %>
    <li><%= task.name %>
    <p><%= task.description %></p>
    <p><%= task.due_date %></p>
    </li>
    <% end %>
  <ol>
</section>

<%# <img src="https://www.nationalgeographic.com/content/dam/news/2018/05/17/you-can-train-your-cat/02-cat-training-NationalGeographic_1484324.jpg" alt="cat"> %>