<h1>Tasks List</h1>

<section>
  <ol>
    <% @tasks.each do |task| %>
    <li>Task name: <%= link_to task.name, task_path(task.id) %>
    <p>Task description: <%= task.description %></p>
    <p>Task due date: <%= task.due_date %></p>
    <p><%= link_to "(Delete)", task_path(task.id), method: :delete, data: {confirm: "Sure about that?"} %></p>
    </li>
    <% end %>
  <ol>
</section>

<%# <img src="https://www.nationalgeographic.com/content/dam/news/2018/05/17/you-can-train-your-cat/02-cat-training-NationalGeographic_1484324.jpg" alt="cat"> %>