<h1>Kristina's Task Tracker</h1>
<p>Task List</p>
<ol>
<% @tasks.each do |task| %>
  <li>Task Name: <%= link_to task.name, task %></li>
    
    <p><%= link_to 'Delete', task, :method => :delete, data: {confirm: 'Are you sure?' } %></p>
    <p><%= link_to 'Mark Complete', complete_task_path(task), :method => :patch %></p>
<% end %>
</ol>

