<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>

      <li> Title: <%= link_to task.name, task_path(task) %> </li>
      <li> Date: <%= task.completion_date %> </li>
      <li> Description: <%= task.description %> </li>
    <hr>
  <% end %>
  <%= link_to "Create Task", new_task_path %>
</ul>