<h1>Mariya's To Do List </h1>

<section>
<h2>Add New Task</h2>
<p>
<%= link_to "add new task", new_task_path %>
</p>

</section>
<section>
<ul>
<% @tasks.each do |task| %>
  <li>
    <%= task.name%>
    <%= link_to "show details", task_path(task) %>
    <%= link_to "edit task", edit_task_path(task) %>
  </li>
  <% end %>
</ul>
</section>