<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<ol>
<% @tasks.each do |task| %>
  <li><%= link_to task.name, task %></li>
    <p>Edit</p>
    <p><%= link_to "Delete", new_task_path %></p>
    <p>Mark Complete</p>
<% end %>
</ol>

<%= link_to 'Add task', new_task_path %>