<h1>Tasks</h1>

<section>
  <h2>These things need to be done!</h2>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <p>
          <%= task.name + "  --  " + "Should be completed by: " + task.completion_date.to_s %>
        </p>
        <p>
          <%= task.description + "  --  " + task.status %>
        </p>
      </li>
    <% end %>
  </ul>
</section>
