<h1 class="blinking_border">CAROLINE'S TASK LIST</h1>

<%= render partial: 'display_table', locals: {origin: "root"} %>

<footer>
<h3>LINKS</h3>
<%= link_to "MAKE NEW TASK", new_task_path %>
</footer>

<section class="image_section">
<%= image_tag "goofy.png", alt: "selfie"%>
</section>