<h2>All Tasks</h2>

<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= link_to task.name, task_path(task) %><br> 
      <%= task.description %><br>
      Completed: <%= task.completion_date %><br>
    </li>
  <% end %>
</ul>

<p><%= link_to "Add a New Task", new_task_path %></p>
