<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      Name: <%= task[:name]%>,  <br />
      Description: <%= task[:description] %>, <br />
      Due Date: <%= task[:date] %> <br />
      <br />
    </li>
  <% end %>
</ul>