<h1>Task List</h1>
<ol>
  <% @tasks.each do |task|  %>
    <li>Task: <%= task[:name] %> </li>
      <ul>
        <li> Details: <%= task[:description] %> </li>
        <li> Due by: <%= task[:completion_date] %> </li>
      </ul>
  <% end %>
</ol>