<ol class="task-list">
  <% @task.each do |task| %>
    <li><h3><%= link_to task.name, task_path(task) %></h3></li>
    <%= link_to "Edit", edit_task_path(task) %>
    <%= link_to "Delete", task_path(task), method: :delete %>
  <% end %>
</ol>

