<h1>The Index Action: The place where you get all of the tasks!</h1>

 <section>
   <h2>Some Interesting Tast Data</h2>
   <p>
     All of the task data is: <%= @tasks %>
   </p>
 </section>

 <section>
   <h2>List of all Tasks</h2>
   <ul>
     <% @tasks.each do |task| %>
       <li>
         <%= task[:title] %> by <%= task[:action] %>
       </li>
     <% end %>
   </ul>
 </section> 