<h1 class="box header">tasklist</h1>



<ul class="box">
  <% @tasks.each_with_index do |task, i|  %>
      <li> <%=i+1%>. <%= link_to task.name, task_path(task) %> </li>
      <li> Description: <%= task.description %> </li>
      <%= link_to "Delete Task", task_path(task), method: :delete, data: {confirm: "Are you sure you want to delete the task: '#{task.name}' ? This cannot be undone!"} %>
    <hr>
  <% end %>

  
  
</ul>