<h1>The Index Action: The place where you get all of the tasks!</h1>

 <section>
   <h2>List of all Tasks</h2>
   <ul>
     <% @tasks.each do |task| %>
       <li>
         <%= task.name %>: <%= task.description %> by <%= task.completion_date %>
       </li>
     <% end %>
   </ul>
 </section> 