<h1>To-do:</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
    TASK: <%= link_to task.name, task_path(task) %></li>
    <p>due date: <%=task.completion_date%></p>
  <% end %>
</ul>

<%= link_to "Make New Task", new_task_path %>