<h1>Tasks</h1>

<section>
  <h2>These things need to be done!</h2>
  <aside>
    <%= link_to "Add a new task", new_task_path %>
  </aside>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <p>
          <%= link_to task.name, task_path( task.id ) %>
        </p>
        <p>
          <%= "Should be completed by: " + task.due_date.to_s %>
        </p>
        <p>
          <%= task.description + "  --  " + task.status %>
        </p>
      </li>
    <% end %>
  </ul>
</section>
