<h1>The Index Action: The place where you get all of the tasks!</h1>

<section>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task %> 
      </li>
    <% end %>
  </ul>

  
</section>
