<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      Name: <%= link_to task.name, task_path(task) %>  <br />
      Description: <%= task.description %> <br />
      Due Date: <%= task.completion_date %> <br />
      <br />
    </li>
  <% end %>
</ul>