<h1>THIS IS A TASK PAGE. IT LISTS TASKS.</h1>

<section>
  <h2>HERE IS A LIST</h2>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task.description, task_path(task.id) %> by <%= task.name %>
        <%= button_to "(Delete)", task_path(task.id), method: :delete, data: { confirm: "Are YOU sure?" } %>
        <%= button_to "(Mark Complete)", task_path(task.id), method: :patch%>
      </li>
    <% end %>
  </ul>
</section>