<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      you better do <%= task[:title] %> which will require <%= task[:description] %> by <%= task[:completion_date] %>
    </li>
  <% end %>
</ul>