
<h1>Welcome to Yasmin's Task List</h1>

<h2>Here is the tasks list</h2>
  <ul class="task-list">
  <% @tasks.each do |task| %>
    <li>
    <%# added today %>
    <%= link_to "#{task.name}: #{task.description}: #{task.date}", task_path(task) %>   <%= link_to "Edit", edit_task_path(task) %>  
    </li>
  <% end %>
</ul>


