<p>
  Here are my tasks:
  <ul> <% @tasks.each do |task| %>
    <li> <%= task.name %> 
      <ul>
        <li> Description: <%= task.description %> </li>
        <li> Completion Date: <%= task.completion_date %> </li>
      </ul>
    </li>
    <% end %>
  </ul>
</p>