<h2> Tasks List</h2>
<ul>
    <%@tasks.each do |task|%>  
        <li>
        <%=task.name %> <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure? It will be gone forever."} %>
        </li>

    <%end%>
</ul>