<h1>To-do:</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
    TASK: <%= link_to task.name, task_path(task) %></li>
    <p>completed: <%=task.completion_date%></p>
    <%= link_to "Delete Task", task_path(task), method: :delete, data: {confirm: "Please confirm!"} %>
    <br>
    <br>
  <% end %>
</ul>

<%= link_to "Make New Task", new_task_path %>