<h1 class="blinking_border">Tasks#index</h1>
<h3 class = "centered" >TO IMPORT SEED DATA... $ rails db:seed</h3>

<%= render partial: 'display_table', locals: {origin: "root"} %>

<footer>
<h3>LINKS</h3>
<%= link_to "MAKE NEW TASK", new_task_path %>
</footer>

<section class="image_section">
<%= image_tag "goofy.png", alt: "selfie"%>
</section>