
<section>
  <h2>List of My Tasks</h2>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task.name, task_path(task.id) %>: <%= task.description %> due on <%= task.completed %>
      </li>
    <% end %>
  </ul>
</section>