<section>
    <h2>To do list</h2>
    <ul>
        <% @tasks.each do |task| %>
            <li><%=task.id %>. <%= task.name %> -- <%= task.description %> -- <%= task.completion_date %> </li>
        <%end%>
    </ul>
</section>