<h2>You can create a new task here:</h2>

<%# form_with is a view helper that will generate the proper form for us and will help us hook into the other controller actions %>
<%= render partial: "form", locals: { submit_button_label: "Create task", task_form_class: "new-task-form" } %>