<section class="container">
  <section class="buttons">
    <p><%= link_to "Add Task", new_task_path %></p>
    <p><%= link_to "All Tasks", tasks_path %></p>
  </section>

<%= render(partial: "form", locals: { action_name: "Create", verb_name: "create" }) %>

</section>