<section class="task-container">
  <h2> New Task </h2>
  <section class="task-form">
    <%= render partial: "form", locals: {submit_button_label: "New Task", form_class: "new_task_form"} %>
  </section>
</section>