<section>
  <ul>
    <li>
    <%= link_to "Edit Task", edit_task_path%>
    </li>
    <li>
    <%= link_to "Delete Task", task_path, method: :delete, data: { confirm: "Are you sure?" }%>
    </li>
  </ul>
</section>

<h1><%=@task.name%></h1>

<section>
  <ul>
      <li>
        <%= @task.description %>
        </li>
  </ul>
</section>