<section>
  <h1><%= @task.name %></h1>
  <h2><%= @task.description %></h2>
  <% if @task.completed %>
    <h2>Task is completed on <%= @task.completed %></h2>
  <% end %>
  <%= link_to "Edit Task", edit_task_path(@task.id) %>
</section>