<section class = "show">
  <h2><%= @task.name %></h2>
  <h3><%= @task.description %></h3>
  <% if @task.completed %>
    <h2>Task is completed on <%= @task.completed %></h2>
  <% end %>
  <%= link_to "Edit Task", edit_task_path(@task.id) %>
</section>