<h1>Task List</h1>

<p>Task Name:
  <%= @task.name%>
</p>

<p>Task Description:
  <%= @task.description%>
</p>

<p>Task Completion Date:
  <%= @task.completion_date%>
</p>


<%= link_to "Home", tasks_path() %>
