<h1>Task Details</h1>
<h2>
  <%= link_to "Edit THIS task here", edit_task_path(@task.id) %>
</h2>

<p><%= @task.name %> is the name of the task. Which is just when you <%= @task.description %>. You must complete this by <%= @task.completion_date %>.</p>