<h1><%= @task.name %></h1>

<section>
  <h2><%= @task.description %></h2>
    <p> Due Date: <%= @task.due_date %> </p>
    <p> Completion Date: <%= @task.completed %> </p>
    <%# if @task.status == "COMPLETE" => make it crossed out %>
  </ul>
</section>
