<h1>Task Details</h1>

<section>
  <ul>
    <li>
      <h2><%= @task.name%></h2>
    </li>
    <li>
      <p>Description: <%= @task.description%></p>
    </li>
    <li>
      <%# can make this a button instead with button_to %>
      <%= link_to "Edit Task", edit_task_path(@task.id) %>
    </li>
  </ul>
</section>
