<h1><%= @task.name %></h1>

<section>
  <h2><%= @task.description %></h2>
    <p>Completion Date: <%= @task.completed %> </p>
    <%# if @task.status == "COMPLETE" => make it crossed out %>
    <p><%= link_to "edit", edit_task_path %> </p>
  </ul>
</section>
