<h1>The Show Action: The place where you get one task!</h1>

<section>
  <h1>Your task: <%=@task.name%></h1>
  <h2>Please <%=@task.description%></h2>
  
  <%= link_to "Edit this task!", edit_task_path(@task.id) %>

</section>