<link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">

<h1> This is an individual task page! <h1>

<h2> Current task is: <%= @task.name %> </h2>

<%= render partial: "list", locals: {task_variable: @task} %>
