<h1>Task#show</h1>

<% if @task.nil? %>
  <div class="notice"><%= flash[:notice] %></div>
<% else %>
  <%= "Task name: #{@task.name}" %><br/>
  <%= "Task description: #{@task.description}" %>
  <p><%= link_to 'Return to Task List', tasks_path %></p>
<% end %>
