<h1>To Do:</h1>

<section>
  <h2>Everything I have to do on <%= @task %></h2>
  <ul>
    <% @tasks.each do |day, tasks| %>
      <li>
        <%= "#{day}," %> <%= tasks %>
      </li>
    <% end %>
  </ul>
</section>