<h1>This is the Task Show Action</h1>

<h2><%=@task.name%></h2>

<section class="task details">
 <ul>
  <li>Description: <%=@task.description%></li>
  <li>Progress: <%@task.progress%></li>
  <li>Completion Date: <%@task.completion_date%></li>
 </ul>
</section>