<h1>Task Details</h1>

<section>
  <ul>
    <li>
      <p>Name: <%= @task.name%></p>
    </li>
    <li>
      <p>Description: <%= @task.description%></p>
    </li>
    <li>
      <p>Completion Date: <%= @task.completion_date%></p>
    </li>
  </ul>
</section>
