
<%#@task.attributes %> 

<section class = Edit_specific>
  <h1>Task:</h1>
  <p><%=@task.name %></p>
  <p> <%=@task.description%></p>
  <p> <%=@task.completed%></p>
</section>
 

 <section class = "Link_to_edit">
  <%= link_to "Edit this taks!", edit_task_path(@task.id) %>
</section>


