<section>
  <h1><%=@task.name%></h1>
  <h2><%=@task.description%></h2>
  <p> <%=@task.completion_date == nil ? "Not Completed": "Completed at #{@task.completion_date}" %></p>
  <%= link_to "Edit", edit_task_path(@task.id), id: "edit-link"%>
</section>