<h1> This is an individual task page! <h1>

<h2> Current task is: <%= @task.name %> </h2>

<ul>
  <li> Description: <%= @task.description %> </li>
  <li> Completion Date: <%= @task.completion_date %> </li>
</ul>