/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: grid;
  grid-template-columns: 250px 2fr;
  grid-template-rows: 10vh 30vh 40vh 10vh;
  margin: 20px;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  color: darkgreen;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

strong {
  font-weight: bolder;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: darkgreen;
}

header {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
  margin-left: 2vw;
}

nav {
  grid-column: 1/span 1;
  grid-row: 2/span 2;
  min-width: 150px;
}

nav ul {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  padding-left: 5vw;
}

.menu-link {
  margin-bottom: 6vh;
}

.menu-link a {
  font-size: 1.25rem;
  border: solid black 2px;
  border-radius: 10px;
  margin: 1vh;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

section {
  grid-column: 2/span 1;
  grid-row: 2/span 2;
  margin-left: 20px;
}

footer {
  grid-column: 1/span 2;
  grid-row: 4/span 1;
}

footer p {
  font-size: 1rem;
  margin-left: 3%;
}

/* index */
/* I wasn't able to determine the syntax for linking different .css files to specific html.erb pages before turning this in, but am curious to learn how do to this in the future! */
.index ol {
  font-size: 1.25rem;
}

.incomplete-task {
  font-weight: bolder;
 }

 .completed-task {
  text-decoration: line-through;
 }

 ol > li > p {
   margin: 0;
 }

 ol > li {
   margin-bottom: 5vh;
 }

 ol > li > a {
   margin-left: 10px;
   font-size: 1.25rem;
 }

 /* show */
 .show > ul {
  padding: 0;
  display: grid;
  grid-template-columns: 5vw 30vw;
  grid-template-rows: repeat(4, auto);
  
}

.show > ul > li {
  grid-column: 1/span 2;
}

.show > ul > li > p {
  margin-top: 3px;
  font-size: 1.25rem;
}

#edit-link, #delete-link {
  padding-right: 3vw;
  font-size: 1.25rem;
}

#edit-link {
  grid-row: 4/span 1;
  grid-column: 1/span 1;
}

#delete-link {
  grid-row: 4/span 1;
  grid-column: 2/span 1;
  border-left: solid darkgreen 2px;
  padding-left: 2vw;
}

/* create task & edit task */
.new p, .edit p {
  font-size: 1.25rem;
}

input, textarea {
  font-size: 1rem;
}

.submit-button {
  background-color: darkgreen;
  color: white;
}

.submit-button:hover {
  background-color: white;
  color: darkgreen;
}

.edit > a {
  font-size: 1.25rem;
}
