/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: beige;
}

li {
 list-style-type: none 
}

footer {
  position: absolute;
  bottom: 0;
  width:100%;
}

th, td {
  border: 1px solid black;
  text-align: center;
}

.button {
  font-size: 40px;
  position: relative; 
  left: 40px;
  text-align: center;
}

table {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

h1, h2, p, section>#edit-link {
  padding-left: 40px;
}

th {
  height: 50px;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 6fr;
  list-style-type: none;
  font-size: 1.5em;
  font-weight: bold
}

#task-image {
  max-width: 100px;
  max-height: 100px;
}