/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: grid;
  grid-template-columns: 250px 2fr;
  grid-template-rows: 10vh 30vh 40vh 10vh;
  margin: 20px;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  color: darkgreen;
}

header {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
  margin-left: 2vw;
}

nav {
  grid-column: 1/span 1;
  grid-row: 2/span 2;
  min-width: 150px;
}

nav ul {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  padding-left: 5vw;
}

.menu-link {
  margin-bottom: 6vh;
}

.menu-link a {
  font-size: 1.25rem;
  border: solid black 2px;
  border-radius: 10px;
  margin: 1vh;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

section {
  grid-column: 2/span 1;
  grid-row: 2/span 2;
  margin-left: 20px;
}

footer {
  grid-column: 1/span 2;
  grid-row: 4/span 1;
}

footer p {
  font-size: 1rem;
  margin-left: 3%;
}

