// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center
}

#description {
  text-align: center
}

.add-task {
  margin-top: 5em;
  text-align: left;
}

#description.jumbotron {
  border-radius: 30px;
}

.buttons {
  text-align: center;
}
