// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
text-decoration: none;
color: mediumblue;
}

div a {
    color: darkgray;
}
div a:visited {
 text-decoration: line-through;
 color: grey;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Arial', serif;
}
