// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: lightblue;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 3em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 3em;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: white;
}

h1 {
  margin-top: 0em;
  font-size: 2.5em;
  text-align: center
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  font-size: 1.25em;
  border: 2px solid gray;
  border-radius: 25px;
  background-color: lightgray;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: .5em;
  padding-bottom: .5em
}

.all-tasks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  list-style-type: none;
  padding-left: 0;
  padding-top: 2em;

  li {
    padding-bottom: 2em;
  }

  .name {
    font-size: 2em
  }
}

h2 {
  font-size: 2em;
}

.task-form {
  font-size: 1.5em;

  input {
    font-size: .8em;
    width: 25em;
  }

  .task-button {
    width: 8em;
  }
}

.description {
  font-size: 1.5em;
}

.links {
  margin-bottom: 2em;
}

.completed {
  font-size: 1.25em;
}

.strike-through {
  text-decoration: line-through
}
